.title {
  font-weight: 700;
}

.focalboard-body {
  .title {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 10px;
  }
}

.font-semibold {
  font-weight: 600;
}

.text-heading8 {
  font-size: 32px;
  font-weight: 600;
}

.text-heading7 {
  font-size: 28px;
  font-weight: 600;
}

.text-heading6 {
  font-size: 25px;
  font-weight: 600;
}

.text-heading5 {
  font-size: 22px;
  font-weight: 600;
}

.text-heading4 {
  font-size: 20px;
  font-weight: 600;
}

.text-heading3 {
  font-size: 18px;
  font-weight: 600;
}

.text-heading2 {
  font-size: 16px;
  font-weight: 600;
}

.text-heading1 {
  font-size: 14px;
  font-weight: 600;
}

.text-base {
  font-size: 16px;
}