option_settings:
    aws:elasticbeanstalk:application:environment:
        AUTH_SECRET: "{{pull:secretsmanager:/io.cv.app/prd/auth_secret:SecretString:auth_secret}}"
        DATABASE_URL: "{{pull:secretsmanager:/io.cv.app/prd/db:SecretString:database_url}}"
        DD_API_KEY: "{{pull:secretsmanager:/io.cv.app/shared/datadog:SecretString:dd_api_key}}"
        REDIS_URI: "{{pull:secretsmanager:/io.cv.app/prd/redis:SecretString:redis_uri}}"
        MIXPANEL_API_KEY: "{{pull:secretsmanager:/io.cv.app/prd/mixpanel:SecretString:mixpanel_api_key}}"
        SERVICE_ENV: "prd" # this sets the value of datadog env tag
        SERVICE_NAME: "websockets"
        NPM_SCRIPT: "sockets:prod"
        COMPOSE_PROJECT_NAME: "prd"
        COMPOSE_PROFILES: "prd"
        IMGTAG: ""
