.dockerignore
.env*
.github
.gitignore
.ebextensions*
.cdk
.husky
.vscode
__e2e__
__integration-tests__
.env*
.eslint*
.huskyrc.json
cdk.json
docker-compose.yml
Dockerfile
files_to_zip.txt
jest.config*
jest.setup*