# All values below should be replaced by your own

# Link to your postgres instance
DATABASE_URL=postgres://user:password@postgreshost.com:5432/databasename

# Your CoinMarketCap API token for retrieving cryptocurrency prices
# You can get an API token at pro.coinmarketcap.com
CMC_API_TOKEN=abcde-122333-wwdcfww

# Used for signing the session token
AUTH_SECRET=wieVRbuyweG23234sjkEDwFuiFEfebY

# Location for uploading to AWS S3
S3_UPLOAD_BUCKET=demo.bucket

# Upload key for AWS S3
S3_UPLOAD_KEY=AEHHEHHWPPORE

# Region of your bucket
S3_UPLOAD_REGION=us-west-1

# Secret for AWS upload
S3_UPLOAD_SECRET=D6gtf5i411kAGG8qinsq