/** react-select is used by lit-share-modal */
.react-select__menu-portal {
  z-index: 99999;
}

.lsm-top-modal-overlay {
  background: transparent;
  pointer-events: none; // disable overlay since we're using our own
}

.lsm-top-modal {
  pointer-events: auto;
  box-sizing: content-box;
  border: 0 none;
  border-radius: 8px;
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12); // from Modal.tsx output
  // height: auto;
  // max-height: 90%;
  //overflow-y: auto;

  button span {
    font-size: 1rem;
  }

  button.lsm-bg-white {
    &:hover {
      background-color: var(--charm-lit-color-light);
      border-width: 1px;
      border-color: var(--charm-lit-primary);
    }
  }

  input {
    outline: 0 none;

    &:active,
    &:focus {
      border-color: var(--charm-lit-primary);
    }
  }

  .lsm-border-brand-5:hover {
    border-color: var(--charm-lit-primary);
  }

  header {
    h3 {
      font-weight: bold;
    }

    button {
      background: transparent;
    }

    button img {
      filter: var(--charm-button-filter);
    }
  }

  // header title
  .lsm-text-title-gray {
    color: inherit;
  }

  .lsm-choose-access-button:last-child {
    margin-bottom: 24px;
  }

  // header when selecting a blockchain
  .lsm-reusable-select-title {
    background-color: var(--charm-lit-color-light);
    color: var(--charm-lit-text-color);
    font-weight: bold;

    h3 {
      color: var(--charm-lit-text-color);
    }
  }

  // for full-page selects: blockchain and top tokens
  .lsm-reusable-select-option {
    background-color: var(--charm-lit-color-white);
    border-width: 3px;
    border-color: transparent;
    transition: none;

    &:hover {
      background-color: var(--charm-lit-color-light);
    }

    &.lsm-border-brand-5 {
      background-color: var(--charm-lit-color-white);
      border-color: var(--charm-lit-primary);
    }
  }

  // footer content on first view
  .lsm-flex.lsm-justify-center.lsm-mt-8.lsm-mx-auto.lsm-items-center.lsm-cursor-pointer {
    margin-bottom: 24px;
  }

  .lsm-reusable-select-button:hover {
    border-width: 1px;
    border-color: var(--charm-lit-primary);
  }

  // selection page (first page)
  .lsm-items-center {
    button:hover {
      background-color: var(--charm-lit-color-light);
      border-width: 1px;
      border-color: var(--charm-lit-primary);
    }
  }

  // select dropdown for tokens
  .lsm-token-select__control {
    outline: 0 none;
    background-color: var(--charm-lit-color-light) !important;
    border-width: 1px;

    &.lsm-token-select__control--menu-is-open {
      border-color: var(--charm-lit-primary) !important;
    }

    .lsm-token-select__single-value {
      color: var(--charm-lit-text-color) !important;
    }
  }

  .lsm-token-select__menu-portal {
    >*>* {
      background-color: var(--charm-lit-color-white);
    }

    // a row
    .lsm-z-100 {
      background-color: var(--charm-lit-color-white);

      .lsm-text-secondary {
        color: var(--charm-lit-color-gray);
      }

      &:hover {
        background-color: var(--charm-lit-color-light);
      }
    }
  }

  // utility classes

  .lsm-font-segoe {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .lsm-border {
    border-style: solid;

    &:hover {
      border-width: 1px;
    }
  }

  &.lsm-bg-white,
  .lsm-bg-white {
    background-color: var(--charm-lit-color-white);
  }

  .lsm-text-black {
    color: var(--charm-lit-text-color);
  }

  .lsm-bg-brand-light,
  .lsm-bg-brand-20 {
    background-color: var(--charm-lit-color-light);
  }

  .lsm-border-brand-4 {
    border-color: var(--charm-lit-brand-4);
  }

  .lsm-text-brand-4 {
    color: var(--charm-lit-brand-4);

    &:hover {
      color: var(--charm-lit-primary);
    }
  }

  .lsm-bg-brand-4 {
    background-color: var(--charm-lit-brand-4);
  }

  button.lsm-bg-brand-4 {
    background-color: var(--charm-lit-primary);
  }

  button.disabled\:lsm-bg-gray:disabled {
    background-color: var(--charm-lit-color-gray);
  }

  .lsm-bg-brand-2 {
    background-color: var(--charm-lit-brand-2);
  }
}