option_settings:
    aws:elasticbeanstalk:application:environment:
        AUTH_SECRET: '{{resolve:ssm:/io.cv.app/prd/auth_secret}}'
        DB_HOSTNAME:  '{{resolve:ssm:/io.cv.app/prd/db/host}}'
        DB_NAME:  '{{resolve:ssm:/io.cv.app/prd/db/dbname}}'
        DB_PASSWD: '{{resolve:ssm:/io.cv.app/prd/db/password}}'
        DB_USER: '{{resolve:ssm:/io.cv.app/prd/db/username}}'
        DD_API_KEY: '{{resolve:ssm:/io.cv.app/shared/datadog/api_key}}'
        DEEP_DAO_BASE_URL: "https://api.deepdao.io"
        NEXT_PUBLIC_TELEGRAM_BOT_ID: '{{resolve:ssm:/io.cv.app/prd/public_telegram_bot_id}}'
        SERVICE_ENV:  "prd"
        SERVICE_NAME: "cron"
        NODE_ENV: "production"
        NPM_SCRIPT: "cron:prod"
        COMPOSE_PROJECT_NAME: "prd"