option_settings:
    aws:elasticbeanstalk:application:environment:
        ALCHEMY_API_KEY: "{{pull:secretsmanager:/io.cv.app/prd/alchemy:SecretString:alchemy_api_key}}"
        AUTH_SECRET: "{{pull:secretsmanager:/io.cv.app/prd/auth_secret:SecretString:auth_secret}}"
        DB_HOSTNAME: "{{pull:secretsmanager:/io.cv.app/prd/db:SecretString:host}}"
        DB_NAME: "{{pull:secretsmanager:/io.cv.app/prd/db:SecretString:dbname}}"
        DB_PASSWD: "{{pull:secretsmanager:/io.cv.app/prd/db:SecretString:password}}"
        DB_USER: "{{pull:secretsmanager:/io.cv.app/prd/db:SecretString:username}}"
        DD_API_KEY: "{{pull:secretsmanager:/io.cv.app/shared/datadog:SecretString:dd_api_key}}"
        DEEP_DAO_BASE_URL: "{{pull:secretsmanager:/io.cv.app/prd/deepdao:SecretString:deepdao_base_url}}"
        DEEPDAO_API_KEY: "{{pull:secretsmanager:/io.cv.app/prd/deepdao:SecretString:deepdao_api_key}}"
        DISCORD_BOT_TOKEN: "{{pull:secretsmanager:/io.cv.app/shared/discord:SecretString:discord_bot_token}}"
        DISCORD_EVENTS_WEBHOOK: "{{pull:secretsmanager:/io.cv.app/shared/discord:SecretString:discord_events_webhook}}"
        MAILGUN_DOMAIN: "{{pull:secretsmanager:/io.cv.app/shared/mailgun:SecretString:mailgun_domain}}"
        MAILGUN_KEY: "{{pull:secretsmanager:/io.cv.app/shared/mailgun:SecretString:mailgun_key}}"
        NEXT_PUBLIC_TELEGRAM_BOT_ID: "{{pull:secretsmanager:/io.cv.app/shared/telegram:SecretString:telegram_bot_id}}"
        NEXT_PUBLIC_DISCORD_WEBHOOK_ERRORS: "{{pull:secretsmanager:/io.cv.app/shared/discord:SecretString:discord_errors_webhook}}"
        SERVICE_ENV:  "prd"
        SERVICE_NAME: "cron"
        NODE_ENV: "production"
        NPM_SCRIPT: "cron:prod"
        COMPOSE_PROJECT_NAME: "prd"
        COMPOSE_PROFILES: "prd"
        IMGTAG: ""
