option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    ConfigDocument:
      Rules:
        Environment:
          Application:
            ApplicationRequests4xx:
              Enabled: true
          ELB:
            ELBRequests4xx:
              Enabled: true
      Version: 1