.lsm-lit-footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    /*left: 50%;*/
    left: 0;
    height: 4.5em;
    padding: 0.5em 1rem 1em;
    width: 100%;
    box-sizing: border-box;
    /*transform: translate(-50%, 0);*/
    background-color: var(--lsm-background-color);
    z-index: 1;
}

@media (min-width: 768px) {
    .lsm-lit-footer {
        border: none;
        border-bottom-right-radius: var(--lsm-border-radius);
        border-bottom-left-radius: var(--lsm-border-radius);
        transform: translate(0, 0);
        bottom: 0;
        left: 0;
    }
}
