# For secrets, Elastic Beanstalk does not pull secrets from secrets manager directly,
# We have to do it ourselves with a script, and I've elected to use the Cloudformation format for looking
#     up secrets in a cloudformation template, in case beanstalk were to support this later on.
# https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html#dynamic-references-secretsmanager
option_settings:
    aws:elasticbeanstalk:application:environment:
        AUTH_SECRET: "{{pull:secretsmanager:/io.cv.app/stg/auth_secret:SecretString:auth_secret}}"
        DB_HOSTNAME: "{{pull:secretsmanager:/io.cv.app/stg/db:SecretString:host}}"
        DB_NAME: "{{pull:secretsmanager:/io.cv.app/stg/db:SecretString:dbname}}"
        DB_PASSWD: "{{pull:secretsmanager:/io.cv.app/stg/db:SecretString:password}}"
        DB_USER: "{{pull:secretsmanager:/io.cv.app/stg/db:SecretString:username}}"
        DD_API_KEY: "{{pull:secretsmanager:/io.cv.app/shared/datadog:SecretString:dd_api_key}}"
        REDIS_URI: "{{pull:secretsmanager:/io.cv.app/stg/redis:SecretString:redis_uri}}"
        DEEP_DAO_BASE_URL: "https://api.deepdao.io"
        MIXPANEL_API_KEY: "{{pull:secretsmanager:/io.cv.app/stg/mixpanel:SecretString:mixpanel_api_key}}"
        NEXT_PUBLIC_TELEGRAM_BOT_ID: "{{pull:secretsmanager:/io.cv.app/shared/telegram:SecretString:telegram_bot_id}}"
        NEXT_PUBLIC_DD_CLIENT_TOKEN: "{{pull:secretsmanager:/io.cv.app/stg/datadog/log:SecretString:dd_client_token}}"
        NEXT_PUBLIC_DD_RUM_CLIENT_TOKEN: "{{pull:secretsmanager:/io.cv.app/stg/datadog/rum:SecretString:dd_rum_client_token}}"
        NEXT_PUBLIC_DD_RUM_APP_ID: "{{pull:secretsmanager:/io.cv.app/stg/datadog/app:SecretString:dd_rum_app_id}}"
        SERVICE_ENV: "stg" # this sets the value of datadog env tag
        SERVICE_NAME: "webapp"
        NODE_ENV: "staging"
        NPM_SCRIPT: "start:staging"
        COMPOSE_PROJECT_NAME: "stg"
        COMPOSE_PROFILES: "stg"
        IMGTAG: ""