option_settings:
    aws:elasticbeanstalk:application:environment:
        DB_USER: '{{resolve:secretsmanager:/io.cv.app/staging/db:SecretString:username}}'
        DB_PASSWD: '{{resolve:secretsmanager:/io.cv.app/staging/db:SecretString:password}}'
        DB_NAME:  '{{resolve:secretsmanager:/io.cv.app/staging/db:SecretString:dbname}}'
        DB_HOSTNAME:  '{{resolve:secretsmanager:/io.cv.app/staging/db:SecretString:host}}'
        AUTH_SECRET: '{{resolve:secretsmanager:/io.cv.app/staging/auth_secret:SecretString:auth_secret}}'
        DD_API_KEY: '{{resolve:secretsmanager:/io.cv.app/shared/datadog/api_key:SecretString:dd_api_key}}'
        NEXT_PUBLIC_TELEGRAM_BOT_ID: '{{resolve:ssm:/io.cv.app/staging/public_telegram_bot_id:1}}'
        SERVICE_NAME: "webapp"
        NODE_ENV: "staging"
        NPM_SCRIPT: "start:staging"
        
#        DOCKER_NPM_COMMAND: "start:prod"