option_settings:
    aws:elasticbeanstalk:application:environment:
        DB_USER: '{{resolve:ssm:/io.cv.app/staging/db/username}}'
        DB_PASSWD: '{{resolve:ssm:/io.cv.app/staging/db/password}}'
        DB_NAME:  '{{resolve:ssm:/io.cv.app/staging/db/dbname}}'
        DB_HOSTNAME:  '{{resolve:ssm:/io.cv.app/staging/db/hostname}}'
        AUTH_SECRET: '{{resolve:ssm:/io.cv.app/staging/auth_secret}}'
        DD_API_KEY: '{{resolve:ssm:/io.cv.app/shared/datadog/api_key}}'
        NEXT_PUBLIC_TELEGRAM_BOT_ID: '{{resolve:ssm:/io.cv.app/staging/public_telegram_bot_id}}'
        SERVICE_NAME: "webapp"
        NODE_ENV: "staging"
        NPM_SCRIPT: "start:staging"
        
#        DOCKER_NPM_COMMAND: "start:prod"