# Adding alarm for degraded state
Resources:
  CloudWatchAlarm:
    Type: "AWS::CloudWatch::Alarm"
    Properties:
      AlarmName: { "Fn::Join" : [ "-", [ "awseb", { "Ref" : "AWSEBEnvironmentName"}, "EnvHealth" ]] }
      AlarmDescription: "A CloudWatch Alarm that triggers when an Elastic Beanstalk Environment is unhealthy."
      Namespace: "ElasticBeanstalk"
      MetricName: "EnvironmentHealth"
      Dimensions:
        - Name: EnvironmentName
          Value: { "Ref" : "AWSEBEnvironmentName" } 
      Statistic: "Average"
      Period: "300"
      EvaluationPeriods: "2"
      Threshold: "17"            # half way between 15 and 20. 15 is warning, 20 is degraded
      ComparisonOperator: "GreaterThanOrEqualToThreshold"
      AlarmActions:
        - "arn:aws:sns:us-east-1:310849459438:Production-Alerts"
      OKActions:
        - "arn:aws:sns:us-east-1:310849459438:Production-Alerts"
      TreatMissingData: "ignore"