.active-filters-button {
  display: none;
}


.textItemIcon {
  content: '';
  //content: url(/images/prosemirror/types/text_type.svg);
}

.ProseMirror-menu-dropdown.cellColorDropDown {
  //content: url(/images/prosemirror/color_palette.svg);
  width: 24px;
  height: 24px;
  display: block;
  background-color: rgb(var(--sidebar-text-rgb));
  mask-position: center center;
  mask-image: url(/images/prosemirror/color_palette.svg);
  mask-size: cover;
  content: '';

  &:hover {
    transform: none;
  }
}

.ProseMirror-menu-dropdown-menu.cellColorDropDown {
  background: rgb(var(--center-channel-bg-rgb));
  border: 0 none;
  box-shadow: 0 0 0 1px rgb(var(--sidebar-border-rgb));
}

.CellColorItem {

  display: block;
  padding: 4px;

  .colorItemContainer {
    padding: 0;

    .colorItemButton:hover {
      box-shadow: none;
      transform: none;
    }

    .colorItemButton.default {
      content: '';
      display: block;
      mask-image: url(/images/prosemirror/no_entry.svg);
      mask-size: cover;
      background-color: rgba(var(--sidebar-text-rgb), .5) !important;
      width: 100%;
      height: 100%;
    }

  }

  &.ProseMirror-menu-active {
    background: rgb(var(--sidebar-bg-rgb));

    .colorItemIndicator {
      border-radius: 100%;
      outline: 2px solid rgb(var(--sidebar-bg-rgb));
      outline-offset: -4px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

.ProseMirror-menuseparator {
  border-color: rgba(var(--sidebar-text-rgb), .2);
}

// popup when clicking the button above a table header
.tablePopup {
  background: rgb(var(--sidebar-bg-rgb));
  color: rgb(var(--sidebar-text-rgb));
}

.headersMenu {
  background: rgb(var(--sidebar-bg-rgb));
  color: rgb(var(--sidebar-text-rgb));
}

.colHeader {
  font-weight: bold;
  padding: 8px !important;

  .empty-header {
    top: 10px;
    left: 10px;
  }

  .cellContent {
    padding-left: 0;
  }

  .typeIcon {
    display: none;
  }

  .sortColButton {

    &::after {
      background-color: rgba(var(--sidebar-text-rgb), 0.5);
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      mask-size: cover;
      mask-image: url(/images/prosemirror/sort_down_empty.svg);
    }

    &.sortedDown::after {
      mask-image: url(/images/prosemirror/sorted_down.svg);
    }

    &.sortedUp::after {
      mask-image: url(/images/prosemirror/sorted_up.svg);
    }
  }
}

.ProseMirror-menuitem {
  color: rgb(var(--sidebar-text-rgb));

  &:hover {
    background-color: rgba(var(--sidebar-text-rgb), 0.1);
  }

  .ProseMirror-menu-dropdown-wrap {

    padding: 2px 8px;

    .ProseMirror-menu-dropdown-item {
      padding: 0;

      &:hover {
        background-color: rgb(var(--sidebar-bg-rgb));
        border-radius: 4px;
      }
    }
  }

  .menuIcon {
    mask-size: cover;
    background-color: rgb(var(--sidebar-text-rgb));
    content: '';
  }

  .ProseMirror-icon {
    vertical-align: 0;
  }

  .sort-down-icon,
  .insert-left-icon {
    mask-image: url(/images/prosemirror/down_arrow.svg);
  }

  .sort-up-icon,
  .insert-right-icon {
    mask-image: url(/images/prosemirror/up_arrow.svg);
  }

  .delete-colum-icon {
    mask-image: url(/images/prosemirror/trash_can_black.svg);
  }

  .filters-colum-icon {
    mask-image: url(/images/prosemirror/filter.svg);
  }
}

//  top toggle buttons
.ProseMirror {

  // disable - for some reason selecting the whole table doesnt work
  .tableHandle {
    display: none;
  }

  .tableScrollWrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    .tableWrapper {
      margin-top: 10px; // margin so we can see the 'add column' icon
    }
  }

  table {
    margin: 28px 0 0 0 !important;
  }

  .tableColHandleButton,
  .tableRowHandleButton,
  .tableAddBottomRow,
  .tableAddRightColumn {
    background-color: rgb(var(--sidebar-bg-rgb));
    border-color: grey;

    &:hover,
    &:active {
      background-color: rgb(var(--button-bg-rgb));
      border-color: rgb(var(--button-bg-rgb));
    }
  }

  .tableAddRightColumn {
    margin-top: 13px !important;
  }

  .inRowSelection .tableRowHandle::before,
  .inColSelection .tableColHandle::before {
    border-color: rgb(var(--button-bg-rgb));
  }

  .selectedCell::after,
  .selectedCell::before {
    background: rgba(var(--button-bg-rgb), 0.1);
    border-color: rgb(var(--button-bg-rgb));
  }
}

.tableColHandleButton {
  background-color: rgb(var(--sidebar-bg-rgb));
  border-color: grey;

  &:hover .buttonContent {
    background-color: rgba(var(--sidebar-text-rgb), 0.1);
  }

  .buttonContent::after {
    background-color: white;
    mask-image: url(/images/prosemirror/drag-handle-vertical.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    height: 100%;
    width: 100%;
    content: '' !important;
  }
}

.tableRowHandleButton {
  background-color: rgb(var(--sidebar-bg-rgb));

  .buttonContent {
    background-color: white;
    mask-image: url(/images/prosemirror/drag-handle-vertical.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    content: '';
  }

}

.addAfterButton {
  .addButtonText {
    line-height: 100%;
    margin-top: -2px;
    align-items: center;
    justify-content: center;
  }
}

.addAfterButton:hover,
.rowRearrangement tr:hover .addRowAfterMarker,
.addAfterButton:hover ~ .addRowAfterMarker,
.addAfterButton:hover ~ .addColAfterMarker {
  background-color: rgb(var(--button-bg-rgb));
}

.deleteMenuButton {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  background-color: rgb(var(--sidebar-text-rgb));
  mask-position: center center;
  mask-image: url(/images/prosemirror/trash_can.svg);
  mask-size: cover;

  &:hover {
    transform: none;
  }
}

// .numberItemIcon {
//   content: url(/images/prosemirror/types/number_type.svg);
// }

// .dateItemIcon {
//   content: url(/images/prosemirror/types/date.svg);
// }

// .checkboxItemIcon {
//   content: url(/images/prosemirror/types/checkbox_type.svg);
// }

// .labelsItemIcon {
//   content: url(/images/prosemirror/types/label.svg);
// }

// .currencyItemIcon {
//   content: url(/images/prosemirror/types/currency.svg);
// }



.colItem.textType .select-dropdown-item-icon,
.column-chooser .selected-icon.textType {
  //content: url(/images/prosemirror/types/text_type.svg);
  content: '';
}

// .colItem.numberType .select-dropdown-item-icon,
// .column-chooser .selected-icon.numberType {
//   content: url(/images/prosemirror/types/number_type.svg);
// }

// .colItem.dateType .select-dropdown-item-icon,
// .column-chooser .selected-icon.dateType {
//   content: url(/images/prosemirror/types/date.svg);
// }

// .colItem.labelsType .select-dropdown-item-icon,
// .column-chooser .selected-icon.labelsType {
//   content: url(/images/prosemirror/types/label.svg);
// }

// .colItem.checkboxType .select-dropdown-item-icon,
// .column-chooser .selected-icon.checkboxType {
//   content: url(/images/prosemirror/types/checkbox_type.svg);
// }

// .colItem.currencyType .select-dropdown-item-icon,
// .column-chooser .selected-icon.currencyType {
//   content: url(/images/prosemirror/types/currency.svg);
// }

// tool tips
.tablePopup {
  .popup-tooltip {
    width: auto;
    color: white;
    line-height: 1.5rem;
    left: -35px;
    top: -45px;
    border: 0 none;
  }
}