.bangle-heading-collapsed {
  border-radius: 8px;
}

.bangle-editor .selected-node {
  animation-duration: 0.75s;
  animation-name: editorSelectedNode;
  animation-timing-function: ease-out;
}

@keyframes editorSelectedNode {
  from {
    border-radius: 4px;
    background-color: var(--editorCore-selectionChange-bgColor);
  }

  to {
  }
}

:root {
  --window-tooltip-zIndex: 5;
  --inlineUniversalPalette-height: 400px;
}

.bangle-tooltip {
  z-index: var(--z-index-modal);
}

.bangle-editor a:not(.MuiTypography-root) {
  text-decoration: underline;
}

.bangle-editor p > code {
}

.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.45rem;
}

.bangle-editor .ProseMirror-selectednode {
  border-radius: var(--window-pill-borderRadius);
}

.bangle-editor {
  border: none;
  outline: none;
}

.ProseMirror .tableWrapper {
  overflow-x: auto;
}

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}

.ProseMirror td,
.ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  background-color: var(--background-default);
}

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

/* Give selected cells a blue overlay */
.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

.ProseMirror-menubar-wrapper {
  border: 1px solid silver;
  outline: none;
}

.ProseMirror {
  padding: 5px 0;
}

.ProseMirror table {
  margin: 0 !important;
}

.ProseMirror th,
.ProseMirror td {
  min-width: 1em;
  border: 1px solid #ddd;
  padding: 3px 5px;
}

.ProseMirror th {
  background-color: var(--prop-gray);
}

.ProseMirror .tableWrapper {
  margin: 1em 0;
}

.ProseMirror th {
  font-weight: bold;
  text-align: left;
}

// @bangle.dev/core/style.css
/**
 * Prosemirror
 * copied from https://github.com/ProseMirror/prosemirror-view/blob/master/style/prosemirror.css
 */
.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  /* the above doesn't seem to work in Edge */
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

/* Protect against generic img rules */
img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

/** Prosemirror-END */

/**
 * Bangle
 */
.bangle-nv-content {
  /** So that the element takes full width, else the browser does not
    show selection cursor.*/
  width: 100%;
}

.bangle-editor p,
.bangle-editor h1,
.bangle-editor h2,
.bangle-editor h3,
.bangle-editor h4,
.bangle-editor h5,
.bangle-editor h6,
.bangle-editor blockquote,
.bangle-editor pre,
.bangle-editor figure,
.bangle-editor dl,
.bangle-editor dd {
  margin: 0;
}

/** Bangle-end*/

/**
 * Component-Styling
 */

// Making sure inline database header link doesn't have underlines
.bangle-editor a:not(.MuiTypography-root) {
  color: #4299e1;
  text-decoration: underline;
}

.bangle-editor a:hover:not(.MuiTypography-root) {
  color: #24659b;
  text-decoration: underline;
}

.bangle-editor > p:first-child,
// .bangle-editor > h1:first-child,
// .bangle-editor > h2:first-child,
// .bangle-editor > h3:first-child,
.bangle-editor > h4:first-child,
.bangle-editor > h5:first-child,
.bangle-editor > h6:first-child,
.bangle-editor > blockquote:first-child,
.bangle-editor > pre:first-child,
.bangle-editor > hr:first-child,
.bangle-editor > figure:first-child,
.bangle-editor > dl:first-child,
.bangle-editor > dd:first-child,
.bangle-editor > ul:first-child,
.bangle-editor > ol:first-child {
  /** this prevents elements from bleeding out of the container */
  margin-top: 0;
}

.bangle-editor hr {
  margin: 0.5em 0;
}

// header styles copied from notion.so
.bangle-editor h1 {
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 4px;
  max-width: 1040px;
}

.bangle-editor h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1.4rem;
  margin-bottom: 1px;
  max-width: 1040px;
}

.bangle-editor h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1px;
  max-width: 1040px;
}

.bangle-editor h4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.bangle-editor h5 {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}

.bangle-editor h6 {
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.bangle-editor ul p,
.bangle-editor ol p,
.charm-column-row p {
  padding-bottom: 3px;
  padding-top: 3px;
}

.bangle-editor li {
  position: relative;

  li:first-child {
    padding-top: 0;
  }
}

// nested list styles
ul li {
  li {
    list-style-type: circle;

    li {
      list-style-type: square;

      li {
        list-style-type: disc;
      }
    }
  }
}

ol li {
  li {
    list-style-type: lower-alpha;

    li {
      list-style-type: lower-roman;

      li {
        list-style-type: circle;
      }
    }
  }
}

.bangle-editor li > span {
  display: block;
}

/* Make sure li selections wrap around markers */
.bangle-editor li.ProseMirror-selectednode {
  outline: none;
}

.bangle-editor li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

.ProseMirror-selectednode {
  background-color: var(--charmeditor-active);
  transition: background-color 150ms ease-in-out;
}

.bangle-nv-container {
  transition: background-color 150ms ease-in-out;
}

.bangle-editor li[data-bangle-is-todo] {
  display: flex;
  flex-direction: row;
  position: relative;
}

.bangle-editor li[data-bangle-is-todo] > span:first-child {
  margin-left: -1.5rem;
}

.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.5rem;
  margin-right: 6px;
  outline: none;
}

.bangle-editor > ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bangle-editor ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.bangle-editor p {
  //font-size: 1rem;
  line-height: 1.625;
  // font-size: 1.125rem;
}

.bangle-editor > p {
  padding-top: 3px;
  padding-bottom: 3px;
}

.bangle-editor p > code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  padding: 0.2em 0.4em;
  margin: 0 0.1em;
  font-size: 85%;
  border-radius: 6px;
}

.bangle-editor pre {
  white-space: pre-wrap;
  margin-top: 3px;
  margin-bottom: 3px;
}

/** Bullet List */
.bangle-editor ul:not(.MuiList-root) {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.bangle-editor ul,
.bangle-editor ol {
  margin-top: 0;
  margin-bottom: 0;
}

/** Disclosure component **/
details {
  padding-left: 20px;

  &[open] > summary::before {
    content: "▼";
    transform: rotate(0);
    top: 6px;
  }

  summary {
    outline: 0 none;
    list-style: none;
    display: flex;
    margin-left: -20px;

    &::before {
      content: "▼";
      cursor: pointer;
      transform: rotate(-90deg);
      position: relative;
      width: 17px;
      top: 6px;
      height: 13px;
      margin-right: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &::-webkit-details-marker,
    &::marker {
      color: var(--prop-gray);
      display: none;
    }

    & > * {
      display: inline;
    }
  }
}

/** Component-Styling-END */

/**
 * Prosemirror-Gap-Cursor
 */
/** From https://github.com/ProseMirror/prosemirror-gapcursor/blob/master/style/gapcursor.css */
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 2px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

/** Prosemirror-Gap-Cursor-END */

/* This helps to position the page threads list */
.bangle-editor-core {
  width: 100%;
  position: relative;
}

.empty-editor .row-handle {
  display: none;
}

// handles on the side of each row
.row-handle {
  display: initial;
  left: 20px;
  top: -1000px;
  position: absolute;
  width: 30px;
  height: 24px;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  .charm-drag-handle {
    cursor: grab;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.czi-editor-frame-body {
  &:hover {
    .row-handle {
      opacity: 1;
    }
  }
}

// for inline comments
.charm-row-decoration {
  background-color: var(--background-default);
  cursor: pointer;
  display: inline;
  position: absolute;
  right: -70px;
  // add a width so that icons are left-aligned even if counts get large
  width: 40px;

  svg {
    color: rgba(var(--center-channel-color-rgb), 0.5);
  }

  .MuiTypography-root {
    color: rgba(var(--center-channel-color-rgb), 0.8);
    font-size: 0.8rem;
  }
}
