:root {
  --charm-lit-color-white: #fff;
}
/** react-select is used by lit-share-modal */
.react-select__menu-portal {
  z-index: 99999;
}

.lsm-top-modal {
  border: 0 none;
  border-radius: 8px;
  box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12); // from Modal.tsx output
  height: auto;
  max-height: 90%;
  overflow-y: auto;

  header {
    font-weight: bold;
    padding: 0 24px;
    text-transform: capitalize;
    button img {
      filter: var( --charm-button-filter );
    }
  }

  .lms-choose-access-button:last-child {
    margin-bottom: 24px;
  }

  // header when selecting a blockchain
  .lms-fixed.lms-top-0.lms-left-0.lms-w-full.lms-py-4.lms-bg-brand-4.lms-text-white.lms-h-14 {
    background-color: var( --charm-lit-color-light );
    color: var( --charm-lit-text-color );
    font-weight: bold;
  }

  // footer content on first view
  .lms-flex.lms-justify-center.lms-mt-8.lms-mx-auto.lms-items-center.lms-cursor-pointer {
    margin-bottom: 24px;
  }

}

// utility classes

.lms-bg-white {
  background-color: var( --charm-lit-color-white );
}
.lms-bg-brand-light, .lms-bg-brand-20 {
  background-color: var( --charm-lit-color-light );
}
.lms-border-brand-4 {
  border-color: var( --charm-lit-brand-4 );
}
.lms-text-brand-4 {
  color: var( --charm-lit-brand-4 );
}
.lms-bg-brand-4 {
  background-color: var( --charm-lit-brand-4 );
}
button.lms-bg-brand-4 {
  background-color: var( --charm-lit-primary );
}
button.disabled\:lms-bg-gray:disabled {
  background-color: var( --charm-lit-color-gray );
}
.lms-bg-brand-2 {
  background-color: var( --charm-lit-brand-2 );
}
