.propColor0,
.propColorDefault {
  background-color: var(--bg-default);
}

.propColor1,
.propColor1:hover,
.propColorGray,
.propColorGray:hover {
  background-color: var(--bg-gray);
}

.propColor2,
.propColor2:hover,
.propColorTurquoise,
.propColorTurquoise:hover {
  background-color: var(--bg-turquoise);
}

.propColor3,
.propColor3:hover,
.propColorOrange,
.propColorOrange:hover {
  background-color: var(--bg-orange);
}

.propColor4,
.propColor4:hover,
.propColorYellow,
.propColorYellow:hover {
  background-color: var(--bg-yellow);
}

.propColor5,
.propColor5:hover,
.propColorTeal,
.propColorTeal:hover {
  background-color: var(--bg-teal);
}

.propColor6,
.propColor6:hover,
.propColorBlue,
.propColorBlue:hover {
  background-color: var(--bg-blue);
}

.propColor7,
.propColor7:hover,
.propColorPurple,
.propColorPurple:hover {
  background-color: var(--bg-purple);
}

.propColor8,
.propColor8:hover,
.propColorPink,
.propColorPink:hover {
  background-color: var(--bg-pink);
}

.propColor9,
.propColor9:hover,
.propColorRed,
.propColorRed:hover {
  background-color: var(--bg-red);
}
