@media all {
  .page-break {
    display: none;
  }

  .print-only {
    display: none !important;
  }

  .print-only-flex {
    display: none !important;
  }
}

// @ref: https://developer.mozilla.org/en-US/docs/Web/CSS/@page
@page {
  // margin: 0 10mm;
  margin: 0;
  size: letter;
}

@media print {

  body.dark-mode * {
    background-color: #191919;
    height: 100%;
  }

  html,
  body {
    height: initial !important;
    overflow: initial !important;
  }

  .dont-print-me {
    display: none !important;
  }

  // read about page breaks: https://github.com/gregnb/react-to-print#page-breaks
  .page-break {
    padding-top: 10mm;
    display: block !important;
    break-before: page;
  }

  .print-only {
    display: initial !important;
  }

  .print-only-flex {
    display: flex !important;
  }
}


// one-off fixes
.charm-column-row {
  break-inside: avoid;
  page-break-inside: avoid;
}