/* Make the Next.j wrappers 100% height */


html {
  height: 100%;
width: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
}

#__next {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

div[role="presentation"] {
  z-index: 2500;
}