/* Make the Next.j wrappers 100% height */


html {
  height: 100%;
  width: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
}

#__next {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

div[role="presentation"] {
  z-index: 2500;
}

.bangle-nv-container {
  position: relative;
}

blockquote .bangle-nv-child-container {
  width: 100%;
}

// make sure tooltips always appear, on Account page it falls behind our custom modal
.MuiTooltip-popper {
  z-index: 9999999 !important;
}


.telegram-login-CharmverseBot {
  width: 100%;
}

.CardDetail {
  hr {
    width: 100%;
    height: 1px;
    border: 0;
    color: rgba(var(--center-channel-color-rgb), 0.09);
    background-color: rgba(var(--center-channel-color-rgb), 0.09);
    margin-bottom: 8px;
  }
}