.lsm-multiple-condition-editor-container {
    font-family: var(--lsm-primary-font);
    box-sizing: border-box;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 3.5em);
    overflow-y: scroll;
}

.lsm-multiple-condition-prompt {
    font-weight: var(--lsm-primary-font-weight);
    font-size: 1.1em;
    margin: 1em 0 0.5em;
}

.lsm-multiple-condition-group {
    box-sizing: border-box;
    padding: 1em;
    overflow-wrap: break-word;
    font-weight: var(--lsm-primary-font-weight);
    width: 100%;
    border-radius: var(--lsm-border-radius);
    display: flex;
    flex-direction: column;
}

.lsm-multiple-condition-initial-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--lsm-primary-font);
}

.lsm-multiple-condition-humanized-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lsm-multiple-condition-humanized-text {
    overflow-wrap: break-word;
    width: 80%;
    margin-right: 1em;
    font-size: 1em;
    color: var(--lsm-primary-color);
    display: flex;
    flex-direction: column;
}

.lsm-multiple-condition-humanized-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lsm-multiple-condition-operator-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.lsm-multiple-condition-group-operator, .lsm-multiple-condition-group-operator-poap {
    color: var(--lsm-primary-color);
    width: 6em;
    height: 3em;
    margin: 0 0.5em;
    border-radius: var(--lsm-border-radius);
    background-color: var(--lsm-secondary-background-color);
    transition-duration: 0.25s;
    cursor: pointer;
}

.lsm-multiple-condition-group-operator-poap {
    margin: 1em 0 1em calc(50% - 1em);
}

.lsm-multiple-condition-define-first-group {
    box-sizing: border-box;
    padding: 1em;
    overflow-wrap: break-word;
    font-weight: var(--lsm-primary-font-weight);
    width: 100%;
    text-align: center;
    border-radius: var(--lsm-border-radius);
}

.lsm-multiple-condition-operator-selected {
    border: var(--lsm-primary-color) 1px solid;
}

.lsm-multiple-condition-operator-not-selected {
    border: var(--lsm-contrast-color) 1px solid;
}

.lsm-multiple-condition-define-first-arrow {
    margin-top: 1em;
}

.lsm-multiple-condition-define-first-arrow-path {
    stroke: var(--lsm-primary-color);
}

.lsm-multiple-condition-define-button {
    margin: 1em auto 0;
    background-color: var(--lsm-secondary-background-color);
    border-radius: var(--lsm-border-radius);
    color: var(--lsm-primary-color);
    padding: 1em;
    font-size: 0.9em;
    border: var(--lsm-secondary-color) 1px solid;
    cursor: pointer;
}

.lsm-multiple-condition-define-first-button {
    margin: 0 auto;
    background-color: var(--lsm-secondary-background-color);
    border-radius: var(--lsm-border-radius);
    color: var(--lsm-primary-color);
    padding: 1em;
    font-size: 0.9em;
    border: var(--lsm-secondary-color) 1px solid;
    cursor: pointer;
}

.lsm-multiple-condition-define-first-text {
    color: var(--lsm-primary-color);
    font-weight: var(--lsm-primary-font-weight);
    box-sizing: border-box;
    padding: 0 0.75em;
    font-size: 1em;
    text-align: center;
}

@media (min-width: 768px) {
    .lsm-multiple-condition-editor-container {
        /*height: calc(100% - 7em);*/
    }
}
