.lsm-chain-selector-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0em 0.5em;
    justify-content: center;
    align-items: center;
    height: 4em;
}

.lsm-chain-selector-control-icon {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}
