# Do not put any env var or secrets used by the app here. Put in .ebstalk.app.env/cron.env
# This file should only have
# - env variables referenced in docker-compose file
# - variables needed for the .platform/hooks/predeploy/01_pull_secrets.sh script to run

option_settings:
    aws:elasticbeanstalk:application:environment:
        COMPOSE_PROJECT_NAME: "prd"
        COMPOSE_PROFILES: "prd-cron"
        EBSTALK_ENV_FILE: "cron.env"
        SERVICE_ENV:  "prd"
        SERVICE_NAME: "cron"
        IMGNAME: "cron"
        IMGTAG: ""
