.CenterPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .octo-board {
        flex: 0 1 auto;

        display: flex;
        flex-direction: column;
    }
}


.BoardComponent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;

    > * {

        padding: 0 80px;

        @media screen and (max-width: 768px) {
            padding: 0 40px;
        }

        &.PageBanner {
            // padding-top: 24px;
            padding: 0;
            position: sticky;
            left: 0;
            @media screen and (max-width: 768px) {
                padding: 0 8px;
            }
        }

        &:last-child {
            padding-bottom: 8px;
        }
    }

    > .top-head {
        position: sticky;
        left: 0;
        background: rgb(var(--center-channel-bg-rgb));
        z-index: 100;
    }

    > .container-container {
        padding: 0 0 180px 1px;

        // @media (max-width: 768px) {
        //     margin-left: 0;
        //     padding-left: 20px;
        //     -webkit-overflow-scrolling: touch;
        // }
    }
}
