.lsm-input-container {
    box-sizing: border-box;
}

.lsm-input {
    height: 2.7em;
    width: 100%;
    border-radius: var(--lsm-border-radius);
    background-color: var(--lsm-background-color);
    color: var(--lsm-primary-color);
    border: 1px solid var(--lsm-secondary-color);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    font-size: 1em;
}

.lsm-input:disabled {
    color: #999;
}

.lsm-input-error {
    margin: 0.25em 0 0;
    transition: 0.3s all;
    min-height: 1.25em;
    color: var(--lsm-error-color);
}

.lsm-loading {
    margin: 0.25em 0 0;
    transition: 0.3s all;
    min-height: 1.25em;
    color: var(--lsm-accent-color);
}
