

html {
  counter-reset: czi-counter-0;
  counter-reset: czi-counter-1;
  counter-reset: czi-counter-2;
  counter-reset: czi-counter-3;
  counter-reset: czi-counter-4;
  counter-reset: czi-counter-5;
  counter-reset: czi-counter-6;
  counter-reset: czi-counter-7;
  --tab-width: 24px;
}

.ProseMirror ol,
.ProseMirror ul {
  /*
   * Use `column-span: all` and `display: flow-root` to force formatting context
   * https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context
   */
  column-span: all;
  counter-reset: none;
  display: flow-root;
  list-style-type: none;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;
}

/* bullet indentation */
.ProseMirror li {
  /* This assumes the space needed for 3 digits numbers */
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}

.ProseMirror li > p {
  // margin: 0;
  // margin-block-end: 0;
  // margin-block-start: 0;
  padding-left: var(--tab-width);
}

/* https://css-tricks.com/numbering-in-style/ */
.ProseMirror ul li > p::before {
  color: var(--czi-list-style-color);

  /* content: '\2022'; */
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  margin-left: calc(-1 * var(--tab-width));
  position: absolute;
  text-align: center;
  top: 2px;
  width: var(--tab-width);
}

.ProseMirror ol {
  /* counter-reset: czi-counter;
  list-style-type: none; */
  --czi-counter-name: czi-counter-0;
  --czi-list-style-type: decimal;
  --czi-counter-reset: 0;

  counter-reset: none;
}

.ProseMirror ol > li {
  counter-increment: var(--czi-counter-name);
}

.ProseMirror ol:not([data-counter-reset='none']) {
  counter-reset: var(--czi-counter-name) var(--czi-counter-reset);
}

.ProseMirror ol[data-counter-reset='none'] {
  counter-reset: none;
}

.ProseMirror ol[type='decimal'][data-indent='6'] > li > ::before {
  content: counter(czi-counter-6, decimal) '. ';
}

.ProseMirror ol[type='decimal'][data-indent='5'] > li > p ::before {
  content: counter(czi-counter-5, decimal) '. ';
}

.ProseMirror ol[type='decimal'][data-indent='4'] > li > p ::before {
  content: counter(czi-counter-4, decimal) '. ';
}

.ProseMirror ol[type='decimal'][data-indent='3'] > li > ::before {
  content: counter(czi-counter-3, decimal) '. ';
}

.ProseMirror ol[type='decimal'][data-indent='2'] > li > p::before {
  content: counter(czi-counter-2, decimal) '. ';
}

.ProseMirror ol[type='decimal'][data-indent='1'] > li > p::before {
  content: counter(czi-counter-1, decimal) '. ';
}

/* [FS] IRAD-1039 2020-08-27
Ordered list x.x.x formatting  fix */

.ProseMirror ol[type='x.x.x'][data-indent='6'] > li > ::before {
  content: counter(czi-counter-0, decimal) '.' counter(czi-counter-1, decimal)
    '.' counter(czi-counter-2, decimal) '.' counter(czi-counter-3, decimal) '.'
    counter(czi-counter-4, decimal) '.' counter(czi-counter-5, decimal) '.'
    counter(czi-counter-6, decimal) ' ';
  margin-left: -20px;
}

.ProseMirror ol[type='x.x.x'][data-indent='5'] > li > ::before {
  content: counter(czi-counter-0, decimal) '.' counter(czi-counter-1, decimal)
    '.' counter(czi-counter-2, decimal) '.' counter(czi-counter-3, decimal) '.'
    counter(czi-counter-4, decimal) '.' counter(czi-counter-5, decimal) ' ';
  margin-left: -20px;
}

.ProseMirror ol[type='x.x.x'][data-indent='4'] > li > ::before {
  content: counter(czi-counter-0, decimal) '.' counter(czi-counter-1, decimal)
    '.' counter(czi-counter-2, decimal) '.' counter(czi-counter-3, decimal) '.'
    counter(czi-counter-4, decimal) ' ';
  margin-left: -20px;
}

.ProseMirror ol[type='x.x.x'][data-indent='3'] > li > ::before {
  content: counter(czi-counter-0, decimal) '.' counter(czi-counter-1, decimal)
    '.' counter(czi-counter-2, decimal) '.' counter(czi-counter-3, decimal) ' ';
  margin-left: -20px;
}

.ProseMirror ol[type='x.x.x'][data-indent='2'] > li > p::before {
  content: counter(czi-counter-0, decimal) '.' counter(czi-counter-1, decimal)
    '.' counter(czi-counter-2, decimal) ' ';
  margin-left: -20px;
}

.ProseMirror ol[type='x.x.x'][data-indent='1'] > li > p::before {
  content: counter(czi-counter-0, decimal) '.' counter(czi-counter-1, decimal)
    ' ';
  margin-left: -20px;
}

.ProseMirror ol[type='x.x.x'][data-indent='0'] > li > p::before {
  color: var(--czi-list-style-color);
  content: counter(czi-counter-0, decimal) '. ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -24pt;
  position: relative;
  text-align: right;
  top: 0;
  width: 24pt;
}

/* [FS] IRAD-1039 2020-08-27
Ordered list 1) formatting  fix */
.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='6']
  > li
  > p::before,
.ProseMirror ol[type='lower_alpha_bracket'][data-indent='6'] > li > p::before,
.ProseMirror ol[type='upper_alpha_bracket'][data-indent='6'] > li > p::before,
.ProseMirror ol[type='num_bracket_closed'][data-indent='6'] > li > p::before,
.ProseMirror ol[type='num_bracket'][data-indent='6'] > li > ::before {
  content: counter(czi-counter-6, decimal) '.';
  margin-left: 100px;
}

.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='5']
  > li
  > p::before,
.ProseMirror ol[type='lower_alpha_bracket'][data-indent='5'] > li > p::before,
.ProseMirror ol[type='upper_alpha_bracket'][data-indent='5'] > li > p::before,
.ProseMirror ol[type='num_bracket_closed'][data-indent='5'] > li > p::before,
.ProseMirror ol[type='num_bracket'][data-indent='5'] > li > ::before {
  content: counter(czi-counter-5, decimal) '.';
  margin-left: 80px;
}

.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='4']
  > li
  > p::before,
.ProseMirror ol[type='lower_alpha_bracket'][data-indent='4'] > li > p::before,
.ProseMirror ol[type='upper_alpha_bracket'][data-indent='4'] > li > p::before,
.ProseMirror ol[type='num_bracket_closed'][data-indent='4'] > li > p::before,
.ProseMirror ol[type='num_bracket'][data-indent='4'] > li > ::before {
  content: counter(czi-counter-4, decimal) '.';
  margin-left: 60px;
}

.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='3']
  > li
  > p::before,
.ProseMirror ol[type='lower_alpha_bracket'][data-indent='3'] > li > p::before,
.ProseMirror ol[type='upper_alpha_bracket'][data-indent='3'] > li > p::before,
.ProseMirror ol[type='num_bracket_closed'][data-indent='3'] > li > p::before,
.ProseMirror ol[type='num_bracket'][data-indent='3'] > li > ::before {
  content: counter(czi-counter-3, decimal) '.';
  margin-left: 40px;
}

.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='2']
  > li
  > p::before,
.ProseMirror ol[type='lower_alpha_bracket'][data-indent='2'] > li > p::before,
.ProseMirror ol[type='upper_alpha_bracket'][data-indent='2'] > li > p::before,
.ProseMirror ol[type='num_bracket_closed'][data-indent='2'] > li > p::before,
.ProseMirror ol[type='num_bracket'][data-indent='2'] > li > p::before {
  content: counter(czi-counter-2, decimal) '.';
  margin-left: 20px;
}

.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='1']
  > li
  > p::before,
.ProseMirror ol[type='lower_alpha_bracket'][data-indent='1'] > li > p::before,
.ProseMirror ol[type='upper_alpha_bracket'][data-indent='1'] > li > p::before,
.ProseMirror ol[type='num_bracket_closed'][data-indent='1'] > li > p::before,
.ProseMirror ol[type='num_bracket'][data-indent='1'] > li > p::before {
  content: counter(czi-counter-1, decimal) '.';
}

.ProseMirror ol[type='num_bracket'][data-indent='0'] > li > p::before {
  color: var(--czi-list-style-color);
  content: counter(czi-counter-0, decimal) ') ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -24pt;
  position: relative;
  text-align: right;
  top: 0;
  width: 24pt;
}

.ProseMirror ol[type='num_bracket_closed'][data-indent='0'] > li > p::before {
  color: var(--czi-list-style-color);
  content: '(' counter(czi-counter-0, decimal) ') ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -24pt;
  position: relative;
  text-align: right;
  top: 0;
  width: 24pt;
}

.ProseMirror ol[type='upper_alpha_bracket'][data-indent='0'] > li > p::before {
  color: var(--czi-list-style-color);
  content: counter(czi-counter-0, upper-alpha) ') ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -24pt;
  position: relative;
  text-align: right;
  top: 0;
  width: 24pt;
}

.ProseMirror ol[type='lower_alpha_bracket'][data-indent='0'] > li > p::before {
  box-sizing: border-box;
  color: var(--czi-list-style-color);
  content: counter(czi-counter-0, lower-alpha) ') ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -26pt;
  padding-left: 20px;
  position: relative;
  text-align: right;
  top: 0;
  width: 28pt;
}

.ProseMirror
  ol[type='lower_alpha_bracket_closed'][data-indent='0']
  > li
  > p::before {
  box-sizing: border-box;
  color: var(--czi-list-style-color);
  content: '(' counter(czi-counter-0, lower-alpha) ') ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -28pt;
  padding-left: 20px;
  position: relative;
  text-align: right;
  top: 0;
  width: 32pt;
}

.ProseMirror ol[type='decimal'][data-indent='0'] > li > p::before {
  color: var(--czi-list-style-color);
  content: counter(czi-counter-0, decimal) '. ';
  display: inline-block;
  font-size: 1em;
  left: -5px;
  line-height: 1em;
  margin-left: -24pt;
  position: relative;
  text-align: right;
  top: 0;
  width: 24pt;
}

.ProseMirror ol[type='lower-alpha'][data-indent='6'] > li > p::before {
  content: counter(czi-counter-6, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-alpha'][data-indent='5'] > li > p::before {
  content: counter(czi-counter-5, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-alpha'][data-indent='4'] > li > p::before {
  content: counter(czi-counter-4, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-alpha'][data-indent='3'] > li > p::before {
  content: counter(czi-counter-3, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-alpha'][data-indent='2'] > li > p::before {
  content: counter(czi-counter-2, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-alpha'][data-indent='1'] > li > p::before {
  content: counter(czi-counter-1, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-alpha'][data-indent='0'] > li > p::before {
  content: counter(czi-counter-0, lower-alpha) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='6'] > li > p::before {
  content: counter(czi-counter-6, lower-roman) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='5'] > li > p::before {
  content: counter(czi-counter-5, lower-roman) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='4'] > li > p::before {
  content: counter(czi-counter-4, lower-roman) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='3'] > li > p::before {
  content: counter(czi-counter-3, lower-roman) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='2'] > li > p::before {
  content: counter(czi-counter-2, lower-roman) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='1'] > li > ::before {
  content: counter(czi-counter-1, lower-roman) '. ';
}

.ProseMirror ol[type='lower-roman'][data-indent='0'] > li::before {
  content: counter(czi-counter-0, lower-roman) '. ';
}

/* [FS] IRAD-947 2020-05-26
Bullet list type changing fix */

/* prettier-ignore */
.ProseMirror ul[data-indent='7'] li > p::before,
/* prettier-ignore */
.ProseMirror ul[data-indent='4'] li > p::before,
/* prettier-ignore */
.ProseMirror ul[data-indent='1'] li > p::before {
  content: '\25e6'; /* circle */
}

/* prettier-ignore */
.ProseMirror ul[data-indent='5'] li > p::before,
/* prettier-ignore */
.ProseMirror ul[data-indent='2'] li > p::before {
  content: '\25aa'; /* square */
}

.ProseMirror ul[data-indent='6'] li > p::before,
.ProseMirror ul[data-indent='3'] li > p::before,
.ProseMirror ul[data-indent='0'] li > p::before {
  content: '\2022'; /* circle */
}
