* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  // DO NOT ADD overflow-x: hidden here. It will break the position sticky option in other components
}
body > * {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --input-border: rgba(255, 255, 255, 0.055);
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
  /* the above doesn't seem to work in Edge */
}
