/* The default ID for the decoration, can override with decorationAttrs = { id: 'something' }  */
.autocomplete {
  color: blue;
  border: 1px solid #333;
  border-radius: 2px 2px 0 0;
  border-bottom-color: white;
  padding: 2px 5px;
}
.command {
  color: red;
}
#suggestion {
  position: absolute;
  border-radius: 2px;
  border: 1px solid #333;
  min-width: 300px;
  background-color: white;
  padding: 10px;
  transform: translateY(-1px);
}
/* You actually should do the UI with a mouse enter event rather than css hover */
#suggestion:hover .selected {
  background-color: white;
}
#suggestion:hover > div:hover,
#suggestion .selected {
  background-color: wheat;
  cursor: pointer;
}