/* Make the Next.j wrappers 100% height */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  font-size: 14px;
}

/* The default ID for the decoration, can override with decorationAttrs = { id: 'something' }  */
.autocomplete {
  color: blue;
  border: 1px solid #333;
  border-radius: 2px 2px 0 0;
  border-bottom-color: white;
  padding: 2px 5px;
}
.command {
  color: red;
}
#suggestion {
  position: absolute;
  border-radius: 2px;
  border: 1px solid #333;
  min-width: 300px;
  background-color: white;
  padding: 10px;
  transform: translateY(-1px);
}
/* You actually should do the UI with a mouse enter event rather than css hover */
#suggestion:hover .selected {
  background-color: white;
}
#suggestion:hover > div:hover,
#suggestion .selected {
  background-color: wheat;
  cursor: pointer;
}

.bangle-emoji-suggest {
  height: 400px;
  overflow: auto;
  width: fit-content;
  background: white;
}

.bangle-emoji-square {
  background: white;
  border: none;
  font-size: 20px !important;
  padding: 0px !important;
}

.bangle-emoji-square:hover {
  cursor: pointer;
}

.bangle-emoji-square.bangle-is-selected {
  background: rgb(223, 223, 223);
}
