.bangle-emoji-suggest {
  height: 400px;
  overflow: auto;
  width: fit-content;
  background: white;
}

.bangle-emoji-square {
  background: white;
  border: none;
  font-size: 20px !important;
  padding: 0px !important;
}

.bangle-emoji-square:hover {
  cursor: pointer;
}

.bangle-emoji-square.bangle-is-selected {
  background: rgb(223, 223, 223);
}
