// wallet connect overlay
.lcm-modal-overlay {
  z-index: var(--z-index-modal) !important;
}

// fix the background color in dark mode for the NFT select dropdown
.lsm__menu-portal > div,
.lsm-ts__menu-portal > div {
  background-color: var(--background-default);
}


// begin hide the token search
.lsm-condition-container h3:nth-child(2) {
  display: none;
}

.lsm-token-select {
  display: none;
}

// end hide the token search